div.center{
  margin : 20px auto;
  width : 750px;
  height :900px;
}
div.canvas-wrapper{
  width : 750px;
  height :900px;
  position: relative;
}
div.text-content{
  position: absolute;
  left: 0px;
	top: 0px;
  width : 750px;
  height :900px;
  color: red;
  font-size: 100px;
  text-align: center;
}


canvas#glcanvas{
  width: 750px;
  height: 900px;
}
